<.header>
  Start Your Game
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/games/#{@game.admin_id}/start"}>
  <.input field={{f, :player_emails}} type="textarea" label="Player emails" />

  <:actions>
    <.button>Start the game</.button>
  </:actions>
</.simple_form>
