<.header>
  New Game
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/games"}>
  <.input field={{f, :email}} type="text" label="Your email" />
  <.input field={{f, :name}} type="text" label="Choose a name for your game" />

  <:actions>
    <.button>Submit</.button>
  </:actions>
</.simple_form>
