<h1>Your Game: <%= @game.name %></h1>

<h2>Prompt progress</h2>
<ul>
  <%= for p <- @game.prompts do %>
    <li>
      <strong><%= prompt_display_name(p) %>:</strong>
      <%= completed_count(p) %>
      out of
      <%= submissions_count(p) %>
      completed
    </li>
  <% end %>

</ul>
