<b>Don't delete this email! You'll need it to make changes to your game.</b>

<h1>Game ready: <%= @game.name %></h1>
<p>
  Your game is almost ready!
  <.link href={url(~p"/games/#{@game.admin_id}")}>
    Click here to invite players and start the game
  </.link>
</p>
