<p>
  <%= @message %>
  The clue from <%= @owner_name %> is still waiting for your submission.
</p>
<p>
  <.link href={url(~p"/submissions/#{@submission.id}/edit")}>
    Submit your entry now, before it's too late!
  </.link>
</p>
