<p>
  A new clue awaits! It's time to guess the prompt from <%= @owner_name %>.
</p>
<p>
  <.link href={url(~p"/submissions/#{@submission.id}/edit")}>
    See it and submit your entry here!
  </.link>
</p>
