<h1>Show Submission</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @submission.text %>
  </li>

  <li>
    <strong>Drawing:</strong>
    <%= img_tag drawing_url(@submission) %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.submission_path(@conn, :edit, @submission) %></span> |
<span><%= link "Back", to: Routes.submission_path(@conn, :index) %></span>
