<div>
  <.simple_form
    :let={f}
    for={@changeset}
    id="submission-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <.input field={{f, :name}} type="text" label="Name" />

    <:actions>
      <.button phx_disable_with="Saving...">Save</.button>
    </:actions>
  </.simple_form>
</div>
